<h1>Listing wants</h1>

<table>
  <tr>
    <th>Book</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @wants.each do |want| %>
  <tr>
    <td><%= want.book %></td>
    <td><%= want.user %></td>
    <td><%= link_to 'Show', want %></td>
    <td><%= link_to 'Edit', edit_want_path(want) %></td>
    <td><%= link_to 'Destroy', want, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Want', new_want_path %>
