
<div id="have_block">
	<div id="haves">
	<% @haves.each do |have|%>
	<p><%= have %></p>
	<% end %>
	</div>
	<%= form_for(@have, :remote => true) do |f| %>
	<input name="[title]">
	<%= f.submit "Submit!"%>
	<% end %>
</div>

<div id="want_block">
	<div id="wants">
	<% @wants.each do |want| %>
	<p><%= want %></p>
	<% end %>
	</div>
	<%= form_for(@want) do |f| %>
	<input name="[title]">
	<%= f.submit "Submit!"%>
	<% end %>
</div>