<!DOCTYPE html>
<html>
<head>
  <title>Rails3MongoidOmniauth</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body id="page1">
<div class="body1">
	<div class="body2">
		<div class="main">
<!-- header -->
			<header>
				<div class="wrapper">
					<h1><a href="index.html" id="logo" style="position:relative;left:349px;"></a></h1>
					<div class="right">
						<nav>
							
						</nav>
					</div>
				</div>
				<% if !current_user %>
				<nav id="menu">
					<ul>
						<li>
							
						
						
						<%= link_to(signin_path, :style => "position:relative;left:8px; top:-60px; left:401px;") do %>
						  <%= image_tag "facebook.png" %>
						<% end %>

						</li>
					</ul>
				</nav>
				<% else %>
				
				<nav id="menu" style="position:relative;">
					<ul>
						<li class="nav1" style=""><a style="position:relative; bottom:80px;" href="http://www.facebook.com/<%= current_user.uid %>/"><img src="http://graph.facebook.com/<%= current_user.uid %>/picture?type=large" ></a></li>
						<li class="nav2" style=""><a href="index.html" class="nav_text"><%= current_user.name %></a></li>
						<li class="nav3"  style=""><a href="index.html" class="nav_text" style="font-size:16px;"><%= current_user.email %></a></li>
						<li class="nav4" style=""><a href="index.html" class="nav_text"></a></li>
						<li class="nav5"  style=""><a href="index.html">Logout</a></li>
					</ul>
				</nav>
				<% end %>
			</header>
			</div>
		</div>
	</div>
	<div class="body3">
					
	</div>
<!-- / header -->
<!-- content -->
<% if !current_user %>	
	<div class="body7">
		<div class="main">

			<section id="content">
				
				<div class="wrapper">
				<article class="col1">
					<div class="box1"><div class="box1_bot"><div class="box1_top">
						<div class="pad"><div class="pad1">
							<h2 class="center">Never.</h2>
							<p>1) Find the textbooks you need for next semester</p>
							<div class="wrapper center">
							
							</div>
						</div></div>
					</div></div></div>
        		</article>
				<article class="col1 pad_left1">
					<div class="box1"><div class="box1_bot"><div class="box1_top">
						<div class="pad">
								<div class="pad1">
							<h2 class="center">Pay.</h2>
							<p>2) Exchange your old textbooks to purchase the new textbooks</p>
							<div class="wrapper center">
							
							</div>
						</div></div>
					</div></div></div>
        		</article>
				<article class="col1 pad_left1">
					<div class="box1"><div class="box1_bot"><div class="box1_top">
						<div class="pad">
								<div class="pad1">
							<h2 class="center">Again.</h2>
							<p>3) Choose the best match.</p>
							<div class="wrapper center">
							
							</div>
						</div></div>
					</div></div></div>
        		</article>
				</div>		
			</section>
			
		</div>
	</div>
<% else %>

	<div style="width:100%; text-align:center;"><%= yield %></div>

	<div class="main" >

		<section id="content">
			
			<div class="wrapper">
			<article class="col1">
				<div class="box1"><div class="box1_bot"><div class="box1_top">
					<div class="pad"><div class="pad1">
						<h2 class="center">Have</h2>
						<p><div id="haves">
						<% @haves.each do |have|%>
						<p><%= have %></p>
						<% end %>
						</div>
						<%= form_for(@have, :remote => true) do |f| %>
						<input name="[title]">
						<%= f.submit "Submit!"%>
						<% end %></p>
						<div class="wrapper center">
						
						</div>
					</div></div>
				</div></div></div>
    		</article>
			<article class="col1 pad_left1">
				<div class="box1"><div class="box1_bot"><div class="box1_top">
					<div class="pad">
							<div class="pad1">
						<h2 class="center">Want</h2>
						<p><div id="wants">
						<% @wants.each do |want| %>
						<p><%= want %></p>
						<% end %>
						</div>
						<%= form_for(@want, :remote => true) do |f| %>
						<input name="[title]">
						<%= f.submit "Submit!", :id => "want" %>
						<% end %></p>
						<div class="wrapper center">
						
						</div>
					</div></div>
				</div></div></div>
    		</article>
			<article class="col1 pad_left1">
				<div class="box1"><div class="box1_bot"><div class="box1_top">
					<div class="pad">
							<div class="pad1">
						<h2 class="center">Matches</h2>
						<p>3) Choose the best match.</p>
						<div class="wrapper center">
						
						</div>
					</div></div>
				</div></div></div>
    		</article>
			</div>		
		</section>
		
	</div>

<% end %>
			<!-- / content -->
			
			
				<div class="body8">



				<div class="body9">
					
					<div class="main">
						<footer>
							<div class="col_1">
								<h3>Find Us</h3>
								<ul class="list3">
									<li><a href="#">Twitter</a></li>
									<li><a href="#">Facebook</a></li>
								</ul>
							</div>
							<div class="col_2 pad_left1">
								<h3>Universities</h3>
								<div class="wrapper">
									<ul class="list3 col_1">
										<li><a href="#">Columbia University</a></li>
										<li><a href="#">New York University</a></li>
										<li><a href="#">Barnard College</a></li>
									</ul>
									<ul class="list3 col_1 pad_left1">
										<li><a href="#">CUNY Baruch</a></li>
										<li><a href="#">Fordham</a></li>
										<li><a href="#">CUNY City</a></li>															
									</ul>
								</div>
							</div>
							<div class="col_3">
								<h3>Contact</h3>
								<div class="wrapper">
									<ul class="list3 col_1">
										<li><a href="#">HackNY.Bookswap@gmail.com</a></li>
									</ul>
								</div>
							</div>
						</footer>
					</div>
			<!-- / footer -->
				</div>
			</div>
<script type="text/javascript"> Cufon.now(); </script>
<script type="text/javascript">
	$(window).load(function() {
	$('#slider').nivoSlider({
        effect:'sliceDown', //Specify sets like: 'fold,fade,sliceDown, sliceDownLeft, sliceUp, sliceUpLeft, sliceUpDown, sliceUpDownLeft'    
        slices:20,
        animSpeed:300,
        pauseTime:9999999999,
        startSlide:0, //Set starting Slide (0 index)
        directionNav:true, //Next & Prev
        directionNavHide:false, //Only show on hover
        controlNav:false, //1,2,3...
        controlNavThumbs:false, //Use thumbnails for Control Nav
        controlNavThumbsFromRel:false, //Use image rel for thumbs
        controlNavThumbsSearch: '.jpg', //Replace this with...
        controlNavThumbsReplace: '_thumb.jpg', //...this in thumb Image src
        keyboardNav:true, //Use left & right arrows
        pauseOnHover:true, //Stop animation while hovering
        manualAdvance:false, //Force manual transitions
        captionOpacity:1, //Universal caption opacity
        beforeChange: function(){},
        afterChange: function(){},
        slideshowEnd: function(){} //Triggers after all slides have been shown
    });
    });
</script>
</body>
</html>

